<h1>News!</h1>

<% @news_items.each do |news_item| %>
  <a href="<%= news_item_path news_item%>">
    <%= image_tag(news_item.image.thumbnail.url, :class => "thumbnail inline") %>
    <h2><%= news_item.title %></h2>
    <h3><%= news_item.sub_header %></h3>
  </a>
<% end %>

<%= link_to 'New News Item', new_news_item_path %>
